<div id="block-{{ block.id }}" class="bundle-product">
  {% if block.settings.show_badge %}
    <div class="yellow_badge">
      <figure class="">
        <img
          data-src="{{ block.settings.img_label | img_url: '300x' }}"
          class="lazyload h-auto"
          alt="{{block.settings.img_label.alt}}"
          loading="lazy"
          width="{{block.settings.img_label.width}}"
          height="{{block.settings.img_label.height}}">
    </figure>
    </div>
  {% endif %}
  <div class="bundle-product-inner">
    <div class="image-area">
      <a href="{{block.settings.bottom_link}}">

      <div class="spritz-product__fig">

          <figure class="spritz-product__fig-img">
          
            <img
              data-src="{{ block.settings.first_image | img_url: '300x' }}"
              class="lazyload h-auto"
              alt="{{block.settings.first_image.alt}}"
              loading="lazy"
              width="{{block.settings.first_image.width}}"
              height="{{block.settings.first_image.height}}">
            
          <figcaption class="accent text-center spritz-product__fig-capt">
            {{block.settings.first_heading}}
          </figcaption>
    
        </figure>
          
        <figure class="spritz-product__fig-img">
          
          <img
            data-src="{{ block.settings.second_image | img_url: '300x' }}"
            class="lazyload h-auto"
            alt="{{block.settings.second_image.alt}} by {{shop.name}}"
            loading="lazy"
            width="{{block.settings.second_image.width}}"
            height="{{block.settings.second_image.height}}">
          
          <figcaption class="accent text-center spritz-product__fig-capt">
            {{block.settings.second_heading}}
          </figcaption>
   
        </figure>
  
        <figure class="spritz-product__fig-img">
        
          <img
            data-src="{{ block.settings.third_image | img_url: '300x' }}"
            class="lazyload h-auto"
            alt="{{block.settings.third_image.alt}} by {{shop.name}}"
            loading="lazy"
            width="{{block.settings.third_image.width}}"
            height="{{block.settings.third_image.height}}">
          
          <figcaption class="accent text-center spritz-product__fig-capt">
            {{block.settings.third_heading}}
          </figcaption>
     
        </figure>
  
        <figure class="spritz-product__fig-img">
          
          <img
            data-src="{{ block.settings.fourth_image | img_url: '300x' }}"
            class="lazyload h-auto"
            alt="{{block.settings.fourth_image.alt}} by {{shop.name}}"
            loading="lazy"
            width="{{block.settings.fourth_image.width}}"
            height="{{block.settings.fourth_image.height}}">
          
          <figcaption class="accent text-center spritz-product__fig-capt">
            {{block.settings.fourth_heading}}
          </figcaption>
        
        </figure>
        
      </div>
    </a>
    </div>
    <div class="d-flex flex-fd-column flex-j-center flex-a-center text-left product-content">
      <a href="{{block.settings.bottom_link}}">
        <h2 class="h2">{{block.settings.title}}</h2>
      </a>
      {% if block.settings.subtitle %}
        <div class="acumin-pro spritz-product__packs text-center">{{block.settings.subtitle}}</div>
      {% endif %}
      {% if block.settings.second_subtitle %}
      <div class="acumin-pro spritz-product__packs text-center">{{ block.settings.second_subtitle }}</div>
      {% endif %}
      {% if block.settings.enable_star %}

      {% if block.settings.productt != blank %}
      {% assign productt = block.settings.productt %}
      <!-- {% render '_ss_yotpo_stars' as product: productt %} -->
      {% else %}
      <!-- {% render '_ss-yotpo-stars-fake' %} -->
      {% endif %}

      {% endif %}
  
      <!-- <form
          action="/cart/add"
          method="post"
          enctype="multipart/form-data"
          data-id="{{product.id}}"> -->
  
          <!-- {% comment %}Required{% endcomment %}
          <label aria-label="Select an option" style="display: none;">
            <span class="d-none">Select an option</span>
            <div class="select" {% if product.has_only_default_variant %}style="display: none" {% endif %}>
              <select name="id" class="js-product-select" data-id="{{product.id}}">
                {% for variant in product.variants %}
                {% if variant.available == true %}
                  <option value="{{variant.id}}" data-price="{{ variant.price | money }}">{{ variant.title }} {{ variant.price | money }}</option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - sold out!</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </label> -->

          {% if block.settings.productt != blank %}
              {% assign product = block.settings.productt %}
              {% assign title = productt.title | downcase %}
              <form
                action="/cart/add" 
                method="post"
                enctype="multipart/form-data"
                {% if title contains 'variety' %}class="variety-form"{% endif %}
                data-id="{{productt.id}}"
                data-title="{{ product.title }}"
                data-categories='{{ product.collections |map:'title' |json }}'
                data-image-url="https:{{ product.featured_image.src|img_url:'grande' }}"
                data-url="{{ shop.secure_url }}{{ product.url }}"
                data-brand={{ product.vendor|json }}
                data-price={{ product.price|money|json }}
                data-compareatprice={{ product.compare_at_price_max|money|json }}
              >

                {% comment %}Required{% endcomment %}
                  {% assign multi_variants_packs = product.metafields.multi.multi_variants_packs | split: ','  %}

                  {% if title contains 'variety' %}
                      {% assign variety_class = 'multi-var' %}
                  {% endif %}
                  {% render '_selling_plan_options', variety_class: variety_class, product: product %}

                  {% if title contains 'variety' %}
                      <div class="select-switcher">
                          {% for variant in product.variants %}
                              {% if variant.available == true %}
                                  <div class="switcher-overlay">
                                      <input type="radio" name="selectSwitcher"
                                             id="switcher-{{ forloop.index0 }}"
                                             data-op="{{ forloop.index0 }}"
                                              {% if forloop.first %} checked {% endif %}
                                      >
                                      <label for="switcher-{{ forloop.index0 }}" class="sel-switcher-option noselect">
                                          {{ variant.title }}
                                      </label>
                                  </div>
                                  {% if forloop.first %}
                                      <div class="sel-switcher-toggler">
                                          <svg width="64" height="27" viewBox="0 0 64 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M-8.48805e-07 19.4184L-3.22177e-07 7.37055L15.5 -2.12e-06L47.7681 1.57549e-06L64 7.37055L64 19.4184L47.7681 27L15.5 27L-8.48805e-07 19.4184Z" fill="#F2C628"/>
                                          </svg>
                                          <svg class="switcher-coloc" width="32" height="27" viewBox="0 0 32 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M1.58517e-06 7.37054L15.7681 -7.09518e-07L32 7.37054L32 19.4184L15.7681 27L1.05854e-06 19.4184L1.58517e-06 7.37054Z" fill="#F64A47"/>
                                          </svg>
                                      </div>
                                  {% endif %}
                              {% endif %}
                          {% endfor %}
                      </div>
                  {% endif %}

                  {% comment %}Dont show if only the `Default Title` variant{% endcomment %}
                  {% if product.available == true %}
                      <div class="select select--pdp js-select" style="{% if is_merch_product %}display: block; {% else %}display: none {% endif %}">
                          <select name="id" class="js-product-select  {% if title contains 'variety' %}varietySelect{% endif %}">
                              {% for variant in product.variants %}
                                  {% if variant.available == true %}
                                      {% assign data_can = multi_variants_packs[forloop.index0] %}
                                      <option value="{{variant.id}}"
                                              data-index="{{ forloop.index0 }}"
                                              data-js-option-price="{{ variant.price | money_without_currency }}"
                                              data-price="{{ variant.price | money_with_currency }}"
                                              data-can-amount="{{ data_can }}"
                                      >
                                          {{ variant.title | replace: 'Default Title', 'BLACK & WHITE' }}
                                      </option>
                                  {% else %}
                                      <option disabled="disabled">{{ variant.title | replace: 'Default Title', 'BLACK & WHITE' }} Sold out!</option>
                                  {% endif %}
                              {% endfor %}
                          </select>
                      </div>
                  {% endif %}

                  <div class="price_with_can_price">
                      <div class="price spritz-product__price js-price" data-price='{{product.price}}'>{{product.price | money}}</div>
                      {% if product.metafields.multi.multi_variants_packs %}
                          <div class="acumin-pro spritz-product__canprice" data-can-price={{product.price | divided_by: product.metafields.product.pack}}>{{product.price | divided_by:
                              product.metafields.product.pack | money }}/can</div>
                      {% elsif product.metafields.product.pack %}
                          <div class="acumin-pro spritz-product__canprice" data-can-price={{product.price | divided_by: product.metafields.product.pack}}>{{product.price | divided_by:
                              product.metafields.product.pack | money }}/can</div>
                      {% endif %}
                  </div>
                  <button name="add" class="svg-btn d-block large" {% unless productt.available %}disabled{% endunless %}>
                    {% render '_ss_polygon_button_shape', type: '' %}
                    <span>{% if productt.available %}Add To Cart{% else %}Sold out{% endif %}</span>
                  </button>
                  <!-- <div class="notchinner-btn">
                    <button type="submit" name="add" class="polygone-btn" {% unless productt.available %}disabled{% endunless %}>
                      {% if productt.available %}
                        Add To Cart
                      {% else %}
                        Sold out
                      {% endif %}
                    </button>
                  </div> -->
            
              </form>
          {% else %}  
            <a href="{{ block.settings.btn_link }}" class="svg-btn large d-flex flex-a-center flex-j-center bg-white">
              {% render '_ss_polygon_button_shape', type: '' %}
              <span>{{ block.settings.btn_text }}</span>
            </a>

            <!--<div class="notchouter-btn">
              <div class="notchinner-btn">
                <a href="{{ block.settings.btn_link }}" class="polygone-btn">
                  {{ block.settings.btn_text }}
                </a>
              </div>
            </div>-->
          {% endif %}
          <div class="bottom-link">
            <a href="{{ block.settings.bottom_link }}" class="text-uppercase link">{{ block.settings.bottom_link_text }}</a>
          </div>
        <!-- </form> -->
  
    </div>
  </div>
</div>
