<div class="customer register ss-customer text-center">
  <svg style="display: none">
    <symbol id="icon-error" viewBox="0 0 13 13">
      <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
      <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
      <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
      <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
    </symbol>
  </svg>
  <div class="ss-container">
    <header>
      <h1 class="h1" tabindex="-1">
        My Spritz
      </h1>
    </header>

    <div class="ss-customer-login">
      {%- form 'create_customer', novalidate: 'novalidate' -%}
        {%- if form.errors -%}
          <h2 class="form__message" tabindex="-1" autofocus>
            <svg aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-error" />
            </svg>
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
          <ul> 
            {%- for field in form.errors -%}
              <li>
                {%- if field == 'form' -%}
                  {{ form.errors.messages[field] }}
                {%- else -%}
                  <a href="#RegisterForm-{{ field }}">
                    {{ form.errors.translated_fields[field] | capitalize }}
                    {{ form.errors.messages[field] }}
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
          <h2 class="form__message" tabindex="-1" autofocus style="display: none">
              <svg aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-error" />
              </svg>
              Please fill in all fields
          </h2>
        <div class="field notchouter">  
          <div class="notchinner">
            <input
            required
            type="text"
            name="customer[first_name]"
            id="RegisterForm-FirstName"
            {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
            autocomplete="given-name"
            placeholder="{{ 'customer.register.first_name' | t }}"
          >
          </div>    
        </div>
        <div class="field notchouter">
          <div class="notchinner">
            <input
              required
              type="text"
              name="customer[last_name]"
              id="RegisterForm-LastName"
              {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
              autocomplete="family-name"
              placeholder="{{ 'customer.register.last_name' | t }}"
            >
          </div>
        </div>
        <div class="field notchouter">   
          <div class="notchinner">
            <input
              type="email"
              name="customer[email]"
              id="RegisterForm-email"
              {% if form.email %} value="{{ form.email }}"{% endif %}
              spellcheck="false"
              autocapitalize="off"
              autocomplete="email"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="RegisterForm-email-error"
              {% endif %}
              placeholder="{{ 'customer.register.email' | t }}"
            >
          </div>   
        </div>
        {%- if form.errors contains 'email' -%}
          <span id="RegisterForm-email-error" class="form__message">
            <svg aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-error" />
            </svg>
            {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
          </span>
        {%- endif -%}
        <div class="field notchouter">
          <div class="notchinner">
            <input
              type="password"
              name="customer[password]"
              id="RegisterForm-password"
              aria-required="true"
              {% if form.errors contains 'password' %}
                aria-invalid="true"
                aria-describedby="RegisterForm-password-error"
              {% endif %}
              placeholder="{{ 'customer.register.password' | t }}"
            >
          </div>     
        </div>
        {%- if form.errors contains 'password' -%}
          <span id="RegisterForm-password-error" class="form__message">
            <svg aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-error" />
            </svg>
            {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
          </span>
        {%- endif -%}
          <div class="btns-account create-acc">
              <div class="">
                  <div class="notchinner login-btn-notchinner">
                      <button class="input" class="account-form__submit" >
                          CREATE
                      </button>
                      <svg class="svg create-svg" width="100%" height="72" viewBox="0 0 378 72" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" style="">
                          <path d="M346.874 0.999999L376.686 36L346.874 71L31.4672 71L1.31982 36L31.4672 0.999997L346.874 0.999999Z" fill="#F64A47" stroke="#F64A47" stroke-width="2"></path>
                      </svg>
                  </div>
              </div>
              <a href="/account" class="svg-btn filled-svg-btn d-block large login-btn-notchouter back-to-log-in" style="display: flex;justify-content: center;align-items: center;">
                  {% render '_ss_polygon_button_shape', type: 'filled' %}
                  <span>LOG IN</span>
              </a>
          </div>
      {%- endform -%}
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    let registerShi = setInterval( () => {
        if(document.querySelector(`.create-acc button.input`)) {
            clearInterval(registerShi);
            $('#RegisterForm-FirstName').on('input', () => {
                $('.form__message').css('display', 'none');
            });
            $('#RegisterForm-LastName').on('input', () => {
                $('.form__message').css('display', 'none');
            });
            $('.create-acc button.input').on('click', (e) => {
                if (!$('#RegisterForm-FirstName').val().length || !$('#RegisterForm-LastName').val().length) {
                    $('.form__message').css('display', 'block');
                    e.preventDefault();
                    return
                }
                localStorage.setItem('registeredCustomer', document.querySelector('#RegisterForm-email').value);
            })
        }
    }, 300);
</script>