{% liquid
    assign title         = section.settings.title 
    assign title_2       = section.settings.title_2
    assign title_img     = section.settings.title_img
    assign subtitle      = section.settings.subtitle
    assign motto         = section.settings.motto
    assign img           = section.settings.img
    assign bg_img        = section.settings.bg_img 
    assign bg_img_mobile = section.settings.bg_img_mobile
    assign bg_color      = section.settings.bg_color
    assign btn_text      = section.settings.btn_text
    assign btn_url       = section.settings.btn_url

    assign press_title = section.settings.press_title

    assign blocks = section.blocks
%}

<style>
    .hp-hero__btn {
        background-color: {{ bg_color }};
    }
</style>

<section class="hp-hero" style="{% if bg_color != blank %}background-color: {{ bg_color }};{% endif %}">
    
    <div class="hp-hero__top">
        <div class="hp-hero__content">
            <div class="hp-hero__content_inner">
                <h4 class="hp-hero__subtitle">{{ subtitle }}</h4>

                <h1 class="hp-hero__title">
                    <span>{{ title }}</span>
                    
                    {%- if title_2 != blank -%}
                        <span class="hp-hero__title_second">{{ title_2 }}</span>
                    {%- endif -%}

                    {% if title_img %}
                        <img class="hp-hero__title_img" src="{{ title_img | img_url: '126x126' }}" alt="{{ title_img.alt }}">
                    {% endif %}
                </h1>

                <h2 class="hp-hero__motto">{{ motto }}</h2>

                <a class="hp-hero__btn noselect" href="{{ btn_url }}">
                    <span class="btn--overlay"></span>
                    <span class="btn--overlay-hover"></span>
                    <span>{{ btn_text }}</span>
                </a>
            </div>
        </div>

        <div class="hp-hero__img">
            <img class="hp-hero__img_bg" src="{{ bg_img | img_url: '2048x' }}" alt="{{ bg_img.alt }}">

            <img class="hp-hero__img_single" src="{{ img | img_url: 'master' }}" alt="{{ img.alt }}">

            <img class="hp-hero__img_mobile" src="{% if bg_img_mobile %}{{ bg_img_mobile | img_url: '740x' }}{% else %}{{ bg_img | img_url: '740x' }}{% endif %}" alt="{{ bg_img_mobile.alt }}">
        </div>
    </div>

    <div class="hp-hero__bot">
        <div class="container">
            {% if press_title != blank %}
                <h3 class="hero__press-title">{{ section.settings.press_title }}</h3>
            {% endif %}

            {% if blocks %}
                <div class="hero__press-desk">
                    {% for block in blocks  %}
                        {% if block.type == 'press' %}
                            <div class="hero__press-img">
                                <img src="{{ block.settings.logo | img_url: 'master' }}" alt="{{ block.settings.logo.alt }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="marquee-slider hero__press-mob" data-marquee>
                    {% for i in (i..1) %}
                        {% for block in blocks %}
                            {% if block.type == 'press' %}
                                <div class="hero__press-img">
                                    <img src="{{ block.settings.logo | img_url: 'master' }}" alt="{{ block.settings.logo.alt }}">
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

</section>

{% schema %}
{
    "name": "Hero section",
    "settings": [
        {
            "type": "text",
            "id": "subtitle",
            "label": "Section subtitle",
            "default": "Premium sparkling cocktails"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Section title",
            "default": "KICK OFF THE"
        },
        {
            "type": "text",
            "id": "title_2",
            "label": "Section title second",
            "default": "4th OF JULY "
        },
        {
            "type": "image_picker",
            "id": "title_img",
            "label": "Title image",
            "info": "Image size 126x126px"
        },
        {
            "type": "richtext",
            "id": "motto",
            "label": "Section motto"
        },
        {
            "type": "image_picker",
            "id": "img",
            "label": "Section center image"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Section background",
            "default": "#FED9D1"
        },
        {
            "type": "image_picker",
            "id": "bg_img",
            "label": "Section background image"
        },
        {
            "type": "image_picker",
            "id": "bg_img_mobile",
            "label": "Section background image mobile"
        },
        {
            "type": "text",
            "id": "press_title",
            "label": "Press title",
            "default": "Featured On"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button text",
            "default": "shop now"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Button link"
        }
    ],
    "blocks": [
        {
            "type": "press",
            "name": "Press logo",
            "settings": [
                {
                "type": "image_picker",
                "id": "logo",
                "label": "Press logo"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "Homepage",
            "name": "Homepage hero"
        }
    ]
}
{% endschema %}