{% assign current_variant = product.selected_or_first_available_variant %}
{% assign product_color = 'ss-' | append: product.id %}

{% assign product2 = all_products[product.metafields.sep_product.product] %}

<article class="product-hero {% if product.tags contains 'sliderFilter' %}sliderFilter{% endif %}"
         data-product-id="{{product.id}}" id="{{ product_color }}">
    <div class="d-flex flex-j-center flex-wrap ss-container">
        <div class="product-hero__center left_part">
            <div class="d-flex">
                <div class="thumbnail-slider-wrap">
                    <div class="slider-arrow-prev">
                        {% render '_ss_icon_down_arrow' %}
                    </div>
                    <div class="thumbnail-slider">

                        {% for image in product.images %}
                            <picture class="">
                                <img
                                        data-src="{{ image | img_url: '100x' }}"
                                        data-srcset="{{ image | img_url: '600x' }},
                    {{ image | img_url: '600x', scale: 2 }} 2x,
                    {{ image | img_url: '600x', scale: 3 }} 3x"
                                        width="{{ product.featured_image.width}}"
                                        height="{{ product.featured_image.height}}"
                                        alt="{{product.title}} from {{shop.name}}"
                                        data-custom-alt="{{ image.alt }}"
                                        class="lazyload margin-auto w-auto d-block h-auto" />
                            </picture>
                        {% endfor %}

                    </div>
                    <div class="slider-arrow-next">
                        {% render '_ss_icon_down_arrow' %}
                    </div>
                </div>



                <div class="pdp-image-wrap main-slider">


                    {% for image in product.images %}
                        <picture class="">
                            <img
                                    data-src="{{ image | img_url: '100x' }}"
                                    data-srcset="{{ image | img_url: '600x' }},
                    {{ image | img_url: '600x', scale: 2 }} 2x,
                    {{ image | img_url: '600x', scale: 3 }} 3x"
                                    width="{{ product.featured_image.width}}"
                                    height="{{ product.featured_image.height}}"
                                    alt="{{product.title}} from {{shop.name}}"
                                    class="lazyload margin-auto w-auto d-block h-auto"
                                    data-custom-alt="{{ image.alt }}"/>
                        </picture>
                    {% endfor %}


                    {% assign src = image %}


                </div>
                <div class="main-arrow-prev"><</div>
                <div class="main-arrow-next">></div>


            </div>

        </div>

        <div class="product-hero__right right_part">

            {% if section.settings.free_sticker != blank %}
                <div class="position-absolute pdp-right-img variety-free-shipping">
                    <img src="{{section.settings.free_sticker | img_url: 'master'}}" >
                </div>
            {% endif %}


            <div class="position-absolute pdp-right-img variety-temp">
                {% render '_ss_icon_pdp_badge' %}
            </div>

            <div class="product-hero__right--inner product-content">
                <form action="/cart/add" method="post" enctype="multipart/form-data" data-id="{{product.id}}"
                      class="js-product-form variety-form"
                      data-title="{{ product.title }}"
                      data-categories='{{ product.collections |map:'title' |json }}'
                      data-image-url="https:{{ product.featured_image.src|img_url:'grande' }}"
                      data-url="{{ shop.secure_url }}{{ product.url }}"
                      data-brand={{ product.vendor|json }}
                      data-price={{ product.price|money|json }}
                      data-compareatprice={{ product.compare_at_price_max|money|json }}>
                    <h1 class="spritz-product__title heading-l pdp-title h2" style="margin-bottom: 5px">{{product.title}}</h1>

                    {% if product.metafields.product.pack == 8 %}
                        <p class="spritz-product__photo" data-pack="{{product.metafields.product.pack}}" style="margin-bottom: 10px; font-size: 18px;">
                            ({{product.metafields.product.pack}} pack) - NEW
                        </p>
                        <p class="spritz-product__photo" data-pack="{{product2.metafields.product.pack}}" style="display:none; margin-bottom: 10px; font-size: 18px;">
                            ({{product2.metafields.product.pack}} pack) - FREE SHIPPING
                        </p>
                    {% else %}
                        <p class="spritz-product__photo" data-pack="{{product.metafields.product.pack}}" style="margin-bottom: 10px; font-size: 18px;">
                            ({{product.metafields.product.pack}} pack) - FREE SHIPPING
                        </p>
                        <p class="spritz-product__photo" data-pack="{{product2.metafields.product.pack}}" style="display:none; margin-bottom: 10px; font-size: 18px;">
                            ({{product2.metafields.product.pack}} pack) - NEW
                        </p>
                    {% endif %}

                    <a href="#reviews">
                        {% render 'okendo-reviews-product-rating-summary' %}
                    </a>
                    <br>


                    <p class="acumin-pro meet-our-spritz-sub-headline body-2" style="margin-top: 0;">{{ product.metafields.descriptors.subtitle }}</p>

                    <div class="pdp-desc acumin-pro">
                        {{product.description}}
                    </div>

                    {% if product.metafields.product.props != blank %}
                        <div class="product-props">
                            {% assign product_props = product.metafields.product.props | split: '|' %}
                            {% for prop in product_props %}
                                <div class="product-props__item">
                                    {{ prop }}
                                    <svg width="111" height="77" viewBox="0 0 111 77" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M105.893 76H5.10742L1 71.507L1 5.49064L5.10742 1H105.893L110 5.49064V71.507L105.893 76Z" stroke="#F64A47" stroke-miterlimit="10"/>
                                    </svg>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% render '_ss_pdp_dropdown' %}

                    {% render '_selling_plan_multi', product2: product2 %}

                    {% if product.metafields.custom_fields["product_attributes"] != blank %}
                        <div class="accordion">
                            {% for item in product.metafields.custom_fields["product_attributes"] %}
                                {% if item["heading"] != blank %}
                                    <button type="button" class="accordion-trigger" id="accordion-trigger--{{forloop.index}}">{{
                                        item["heading"] }}</button>
                                {% endif %}
                                {% if item["body"] != blank %}
                                    <div class="accordion-panel">
                                        {{ item["body"] }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% comment %}<span class="js-product-price pdp-price">{{product.price | money }}</span>{% endcomment %}

                    {% assign data_can1 = product.metafields.product.pack %}
                    {% assign data_can2 = product2.metafields.product.pack %}

                    {% if product.tags contains 'varietyPack' %}
                        <div class="select-switcher">
                            {% if data_can1 == 8 %}
                                <div class="switcher-overlay">
                                    <input type="radio" name="selectSwitcher"
                                           id="switcher-0"
                                           data-op="0"
                                           value="{{ product.variants[0].title }}"
                                           data-var="{{ data_can1 }}"
                                           data-url="{{ product.url }}"
                                           checked
                                    >
                                    <label for="switcher-0" class="sel-switcher-option noselect">
                                        {{ product.variants[0].title }}
                                    </label>
                                </div>
                            {% elsif data_can2 == 8 %}
                                <div class="switcher-overlay">
                                    <input type="radio" name="selectSwitcher"
                                           id="switcher-0"
                                           data-op="0"
                                           value="{{ product2.variants[0].title }}"
                                           data-var="{{ data_can2 }}"
                                           data-url="{{ product2.url }}"
                                    >
                                    <label for="switcher-0" class="sel-switcher-option noselect">
                                        {{ product2.variants[0].title }}
                                    </label>
                                </div>
                            {% endif %}

                            <div class="sel-switcher-toggler">
                                <svg width="64" height="27" viewBox="0 0 64 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M-8.48805e-07 19.4184L-3.22177e-07 7.37055L15.5 -2.12e-06L47.7681 1.57549e-06L64 7.37055L64 19.4184L47.7681 27L15.5 27L-8.48805e-07 19.4184Z" fill="#F2C628"/>
                                </svg>
                                <svg class="switcher-coloc
                                    {% if data_can1 == 16 %}
                                        right
                                    {% endif %}
                                    " width="32" height="27" viewBox="0 0 32 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.58517e-06 7.37054L15.7681 -7.09518e-07L32 7.37054L32 19.4184L15.7681 27L1.05854e-06 19.4184L1.58517e-06 7.37054Z" fill="#F64A47"/>
                                </svg>
                            </div>
                             {% if data_can1 == 16 %}
                                 <div class="switcher-overlay">
                                     <input type="radio" name="selectSwitcher"
                                            id="switcher-1"
                                            data-op="1"
                                            value="{{ product.variants[0].title }}"
                                            data-var="{{ data_can1 }}"
                                            data-url="{{ product.url }}"
                                            checked
                                     >
                                     <label for="switcher-1" class="sel-switcher-option noselect">
                                         {{ product.variants[0].title}}
                                     </label>
                                 </div>
                             {% elsif data_can2 == 16 %}
                                 <div class="switcher-overlay">
                                     <input type="radio" name="selectSwitcher"
                                            id="switcher-1"
                                            data-op="1"
                                            value="{{ product2.variants[0].title }}"
                                            data-var="{{ data_can2 }}"
                                            data-url="{{ product2.url }}"
                                     >
                                     <label for="switcher-1" class="sel-switcher-option noselect">
                                         {{ product2.variants[0].title}}
                                     </label>
                                 </div>
                             {% endif %}
                        </div>
                    {% endif %}

                    {% comment %}Dont show if only the `Default Title` variant{% endcomment %}
                    {% if product.available == true %}
                        <div class="select select--pdp js-select" style="{% if is_merch_product %}display: block; {% else %}display: none {% endif %}">
                            <select name="id" class="js-product-select varietySelect">
                                <option value="{{ product.variants[0].id }}"
                                        data-index="0"
                                        data-js-option-price="{{ product.variants[0].price | money_without_currency }}"
                                        data-price="{{ product.variants[0].price | money_with_currency }}"
                                        data-can-amount="{{ data_can1 }}"
                                        selected
                                >
                                    {{ product.variants[0].title }}
                                </option>
                                <option value="{{ product2.variants[0].id }}"
                                        data-index="1"
                                        data-js-option-price="{{ product2.variants[0].price | money_without_currency }}"
                                        data-price="{{ product2.variants[0].price | money_with_currency }}"
                                        data-can-amount="{{ data_can2 }}"
                                >
                                    {{ product2.variants[0].title }}
                                </option>
                            </select>
                        </div>
                    {% endif %}

                    <div class="d-flex flex-j-center flex-a-center pdp-qty-with-price">
                        <div class="d-flex flex-j-center acumin-pro pdp-qty-increment-wrap">
                            <label class="d-flex pdp-qty-area" for="pdp-qty-{{product.id}}" aria-label="Selet a quantity">
                                <input type="number" value="1" id="pdp-qty-{{product.id}}" name="quantity" class="js-pdp-qty pdp-qty"
                                       maxlength="10" pattern="[0-9]" {% unless product.available %}disabled{% endunless %}>
                                <svg class="svg" width="100%" height="72" viewBox="0 0 378 72" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                                    <path d="M346.874 0.999999L376.686 36L346.874 71L31.4672 71L1.31982 36L31.4672 0.999997L346.874 0.999999Z" fill="#F64A47" stroke="#F64A47" stroke-width="2"></path>
                                </svg>
                            </label>
                            <button class="js-pdp-qty-increment pdp-qty-increment down" type="button"
                                    aria-label="Quantity increment for {{product.title}}">
                                <span class="d-none">Decrease quantity</span>
                                <svg width="46" height="40" viewBox="0 0 46 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path class="shape"
                                          d="M22.7933 0.683594L45.5867 12.3526V27.2194L22.7933 39.3236L0 27.2194V12.3526L22.7933 0.683594Z"
                                          fill="#F64A47" />
                                    <path class="symbol" d="M16.2986 19.4737V21.7837H28.2986V19.4737H16.2986Z" fill="white" />
                                </svg>
                            </button>
                            <button class="js-pdp-qty-increment pdp-qty-increment up" type="button"
                                    aria-label="Quantity descrement for {{product.title}}">
                                <span class="d-none">Increase quantity</span>
                                <svg width="46" height="40" viewBox="0 0 46 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path class="shape"
                                          d="M22.7933 0.683594L45.5867 12.3526V27.2194L22.7933 39.3236L0 27.2194V12.3526L22.7933 0.683594Z"
                                          fill="#F64A47" />
                                    <path class="symbol"
                                          d="M21.6047 11.6437V18.7237H14.5547V21.0637H21.6047V28.3237H23.9747V21.0637H30.9947V18.7237H23.9747V11.6437H21.6047Z"
                                          fill="white" />
                                </svg>
                            </button>
                        </div>

                        <div class="price_with_can_price">
                            <div class="price spritz-product__price js-price" data-price='{{product.price}}'>{{product.price | money}}</div>
                            {% if product.metafields.product.pack %}
                                <div class="acumin-pro spritz-product__canprice" data-can-price={{product.price | divided_by: product.metafields.product.pack}}>{{product.price | divided_by:
                                    product.metafields.product.pack | money }}/can</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="pdp-add-to-bag-wrapper">
                        <button type="submit" name="add"  class="svg-btn filled-svg-btn d-block large" {% unless product.available %}disabled{% endunless %}>
                            {% render '_ss_polygon_button_shape', type: 'filled' %}
                            <span>{% if product.available %}Add To Cart{% else %}Sold out{% endif %}</span>
                        </button>

                        <div class="free_shipping text-center under-button-text">
                            {% if product.metafields.product.pack == 8 %}
                                NEW
                            {% else %}
                                FREE SHIPPING
                            {% endif %}
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
</article>

<style>
    .open-popup-link {
        display: block;
        padding: 0 0 15px 0;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
    }

    @media (min-width: 450px) {
        .open-popup-link {
            padding: 0 0 20px 0;
        }
    }
    .white-popup {
        position: relative;
        background: #FFF;
        padding: 7px;
        width: auto;
        max-width: 500px;
        margin: 20px 7%;
        transition: 1s all;
    }

    @media (min-width: 450px) {
        .white-popup {
            padding: 40px;
            margin: 20px auto;
        }
    }
    .mfp-bg {}
    .mfp-fade.mfp-bg {
        opacity: 0;
        -webkit-transition: all 0.15s ease-out;
        -moz-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out;
    }
    /* overlay animate in */
    .mfp-fade.mfp-bg.mfp-ready {
        opacity: 0.8;
    }
    /* overlay animate out */
    .mfp-fade.mfp-bg.mfp-removing {
        opacity: 0;
    }
    .mfp-fade.mfp-wrap .mfp-content {
        opacity: 0;
        transition: all 0.4s ease-out;
    }
    .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
        opacity: 1;
    }

    .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
        opacity: 0;
    }
</style>

{% schema %}
{
"name": "PDP",
"settings": [
{
"type": "header",
"content": "Nutrition Facts"
},
{
"type": "text",
"id": "link_text",
"label": "Link text",
"default": "Nutrition Facts and Ingredients"
},
{
"type": "text",
"id": "popup_text",
"label": "Popup text"
},
{
"type": "image_picker",
"id": "free_sticker",
"label": "Free shipping sticker"
}

]
}
{% endschema %}